* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 18px;
}

.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #181818;
  padding-top: 120px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 46px;
  font-size: 30px;
  color: #f3f3f3;
  text-align: left;
  text-decoration: none;
}

.mobile-nav a:hover {
  color: #ffe959;
}

section h2 {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #313131;
  font-size: 36px;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  color: #333;
  font-size: 20px;
  background-color: #fdd700;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

img {
  max-width: 100%;
}

header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
header .container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container h2 {
  color: inherit;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 900;
}
header .container h2 span {
  font-weight: 600;
}
header .container nav {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, auto);
}
header .container nav a {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
header .container nav a:hover {
  color: #ffe959;
}
header.scrolling {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

main section.banner {
  color: #fff;
  position: relative;
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: top right;
  background-size: cover;
}
main section.banner .bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}
main section.banner:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
main section.banner .container {
  position: relative;
  z-index: 1;
}
main section.banner .container h1 {
  font-size: 72px;
  margin-bottom: 32px;
}
main section.banner .container h1 span {
  color: #fdd700;
}
main section.banner .container h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 32px;
}

.wave-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.wave-container svg {
  display: block;
}

.inverted {
  background-color: #181818;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.button--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button--wrapper.dark a {
  color: #f3f3f3;
  background-color: #181818;
}

.about-us {
  width: 100%;
  height: auto;
  color: #333;
  background-color: #fdd700;
}
.about-us h2 {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-size: 36px;
}
.about-us .button--wrapper {
  padding-bottom: 30px;
}
.about-us .button--wrapper .button {
  background-color: #181818;
  color: #f3f3f3;
}
.about-us .centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-us .centered .wrapper {
  display: grid;
  padding: 0 20px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 1400px;
}
.about-us .centered .wrapper .card__container {
  max-width: 500px;
  padding: 3em 2em;
  margin: 1em;
  border-radius: 30px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-box-shadow: 10px 10px 41px -7px rgb(66, 68, 90);
          box-shadow: 10px 10px 41px -7px rgb(66, 68, 90);
  z-index: 10;
}
.about-us .centered .wrapper .card__container span {
  display: block;
  text-align: center;
  font-size: 5rem;
}
.about-us .centered .wrapper .card__container p {
  font-size: 20px;
  font-weight: 700;
}
.about-us .centered .wrapper .card__container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.experience {
  margin-top: -20px;
  padding: 20px 70px;
  color: #f3f3f3;
  background-color: #181818;
}
.experience h2 {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #f3f3f3;
  font-size: 26px;
}
.experience .wrapper .container {
  max-width: 1600px;
  width: 100%;
  position: relative;
  padding: 20px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.experience .wrapper .container__block {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  border: 0px none #181818;
  border-radius: 18px;
  -webkit-box-shadow: 10px 10px 41px -7px rgb(0, 0, 0);
          box-shadow: 10px 10px 41px -7px rgb(0, 0, 0);
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}
.experience .wrapper .container__block .shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px none #181818;
  border-radius: 18px;
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.experience .wrapper .container__block .shadow a {
  color: #f3f3f3;
  text-shadow: 2px 2px 3px #000000;
  text-decoration: none;
}
.experience .wrapper .container__block:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.experience .wrapper .container__block:hover .shadow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.experience .wrapper .container .grzegorz {
  background-image: url(../img/grzegorzv2.jpg);
}
.experience .wrapper .container .smart {
  background-image: url(../img/SMARTGYM.JPG);
}
.experience .wrapper .container .marie {
  background-image: url(../img/Marie.jpeg);
}
.experience .wrapper .container .gnt {
  background-image: url(../img/gotowi.jpg);
}
.experience .wrapper .container .candy {
  background-image: url(../img/cjakcandy.jpg);
}
.experience .wrapper .container .covin {
  background-image: url(../img/covivbig.jpg);
}

.darker {
  background-color: #181818;
}

.portfolio {
  margin-top: -20px;
  padding-top: 70px;
  color: #333;
  background-color: #fdd700;
}
.portfolio h2 {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-size: 36px;
}
.portfolio .wrapper {
  margin: 50px auto;
  max-width: 1000px;
}
.portfolio .wrapper .iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  -webkit-box-shadow: 8px 8px 24px 3px rgb(0, 0, 0);
          box-shadow: 8px 8px 24px 3px rgb(0, 0, 0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.portfolio .wrapper .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.portfolio .box {
  height: 2.5vh;
}

.contact {
  display: grid;
  place-items: center;
  height: 500px;
  margin-top: -20px;
  padding-top: 70px;
  color: #f3f3f3;
  background-color: #181818;
}
.contact h2 {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #f3f3f3;
  font-size: 36px;
}
.contact .wrapper .container {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
}
.contact .wrapper .container p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.contact .wrapper .container p span {
  padding: 0 20px;
}

footer {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 1rem;
  background-color: #fdd700;
}
footer a {
  text-decoration: none;
  color: black;
}

@media (min-width: 576px) {
  .about-us .centered .wrapper {
    grid-template-columns: 1fr;
  }
  .about-us .centered .wrapper .card__container h2 {
    font-size: 1.6rem;
  }
  .about-us .centered .wrapper .card__container p {
    font-size: 1.3rem;
  }
  main section.banner .container h1 {
    font-size: 2.3rem;
  }
  main section.banner .container h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  main section.banner .container h1 {
    font-size: 2.3rem;
  }
  main section.banner .container h2 {
    font-size: 1.2rem;
  }
  .about-us .centered .wrapper {
    grid-template-columns: 1fr;
  }
  .about-us .centered .wrapper .card__container h2 {
    font-size: 1.5rem;
  }
  .about-us .centered .wrapper .card__container p {
    font-size: 1.1rem;
  }
  .portfolio .wrapper {
    max-width: 150px;
  }
  .experience {
    height: 200vh;
  }
  .experience .wrapper .container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
  main section.banner .container h1 {
    font-size: 3rem;
  }
  main section.banner .container h2 {
    font-size: 2.2rem;
  }
  .about-us .centered .wrapper {
    grid-template-columns: 1fr;
  }
  .about-us .centered .wrapper .card__container h2 {
    font-size: 1.6rem;
  }
  .about-us .centered .wrapper .card__container p {
    font-size: 1.3rem;
  }
  .portfolio .wrapper {
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  button {
    font-size: 18px;
  }
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  header .container nav {
    display: none;
  }
  main section.banner .container h1 {
    font-size: 3rem;
  }
  main section.banner .container h2 {
    font-size: 2.2rem;
  }
  .experience {
    height: 230vh;
  }
  .experience .wrapper .container {
    grid-template-columns: 1fr;
  }
  .portfolio .wrapper {
    max-width: 400px;
  }
  .contact .wrapper .container p {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
  main section.banner .container h1 {
    font-size: 4.2rem;
  }
  main section.banner .container h2 {
    font-size: 3rem;
  }
  .about-us .centered .wrapper {
    grid-template-columns: 1fr;
  }
  .about-us .centered .wrapper .card__container h2 {
    font-size: 1.8rem;
  }
  .about-us .centered .wrapper .card__container p {
    font-size: 1.5rem;
  }
  .portfolio .wrapper {
    max-width: 700px;
  }
}
@media (max-width: 992px) {
  .experience {
    height: 220vh;
  }
  .experience .wrapper .container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  main section.banner .container h1 {
    font-size: 4.3rem;
  }
  main section.banner .container h2 {
    font-size: 3rem;
  }
  .about-us .centered .wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .about-us .centered .wrapper .card__container h2 {
    font-size: 1.6rem;
  }
  .about-us .centered .wrapper .card__container p {
    font-size: 1.2rem;
  }
  .experience .wrapper .container {
    max-width: none;
  }
}/*# sourceMappingURL=main.css.map */