@import 'colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
}

.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 128px;
	padding-right: 128px;

	@media (max-width: 1024px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;

	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin: 6px 0px;
	transition: 0.4s;
	border-radius: 18px;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: $darker;
	padding-top: 120px;
	transition: 0.5s;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	// max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 46px;
	font-size: 30px;
	// background-color: $main;

	// border-radius: 30px;

	color: $white;
	text-align: left;
	text-decoration: none;
}

.mobile-nav a:hover {
	color: $main-light;
}

section {
	h2 {
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		color: #313131;
		font-size: 36px;
	}
}

.button {
	appearance: none;
	border: none;
	outline: none;
	background: none;

	display: inline-block;
	color: $dark;
	font-size: 20px;
	background-color: $main;
	padding: 12px 16px;
	border-radius: 8px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;

	transition: transform 0.4s;

	&:hover {
		transform: scale(1.1);
	}
}

img {
	max-width: 100%;
}

header {
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	// background-color: #12002F;

	.container {
		padding-top: 24px;
		padding-bottom: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			color: inherit;
			text-transform: uppercase;
			font-size: 32px;
			font-weight: 900;

			span {
				font-weight: 600;
			}
		}

		nav {
			display: grid;
			grid-gap: 16px;
			grid-template-columns: repeat(4, auto);

			a {
				color: inherit;
				font-size: 20px;
				text-decoration: none;

				transition: color 0.4s;
			}
			a:hover {
				color: $main-light;
			}
		}
	}

	&.scrolling {
		background-color: rgba(0, 0, 0, 0.8);
		transition: background-color 0.6s;
	}
}

main {
	section.banner {
		color: #fff;
		position: relative;
		min-height: 75vh;
		display: flex;
		align-items: center;

		background-position: top right;
		background-size: cover;

		.bg-video {
			position: fixed;
			right: 0;
			bottom: 0;
			min-width: 100%;
			min-height: 100%;
			z-index: -10;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			background-color: rgba(0, 0, 0, 0.8);
			// opacity: 0.8;
		}

		.container {
			position: relative;
			z-index: 1;

			h1 {
				font-size: 72px;
				margin-bottom: 32px;

				span {
					color: $main;
				}
			}

			h2 {
				font-size: 36px;
				font-weight: 400;
				margin-bottom: 32px;
			}
		}
	}
}
.wave-container {
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	overflow: hidden;

	svg {
		display: block;
	}
}
.inverted {
	background-color: $darker;

	transform: rotate(180deg);
}
.button--wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	&.dark {
		a {
			color: $white;
			background-color: $darker;
		}
	}
}

.about-us {
	width: 100%;
	height: auto;
	color: $dark;
	background-color: $main;

	h2 {
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		font-size: 36px;
	}
	.button--wrapper {
		padding-bottom: 30px;

		.button {
			background-color: $darker;
			color: $white;
		}
	}

	.centered {
		display: flex;
		justify-content: center;

		.wrapper {
			display: grid;
			padding: 0 20px;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
			align-items: stretch;
			max-width: 1400px;

			.card__container {
				max-width: 500px;
				padding: 3em 2em;
				margin: 1em;
				border-radius: 30px;
				background-color: #fff;

				transition: transform 0.4s;

				box-shadow: 10px 10px 41px -7px rgba(66, 68, 90, 1);

				z-index: 10;
				span {
					display: block;
					text-align: center;
					font-size: 5rem;
				}

				p {
					font-size: 20px;
					font-weight: 700;
				}

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}
.experience {
	margin-top: -20px;
	padding-top: 70px;
	padding-bottom: 70px;

	color: $white;
	background-color: $darker;
	h2 {
		padding: 0 20px;

		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;
		color: $white;
		font-size: 26px;
	}
	.wrapper {
		.container {
			width: 100%;
			position: relative;
			padding: 20px;
			padding-bottom: 100px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 20px;
			overflow: hidden;

			&__block {
				width: 100%;
				height: 250px;

				background-position: center;
				background-size: cover;
				border: 0px none #181818;
				border-radius: 18px;
				box-shadow: 10px 10px 41px -7px rgb(0, 0, 0);

				transition: 0.3s transform;
				.shadow {
					display: flex;
					align-items: center;
					justify-content: center;
					border: 0px none #181818;
					border-radius: 18px;

					transition: 0.3s background-color;

					font-size: 2.5rem;
					font-weight: bold;

					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.5);

					a {
						color: $white;
						text-shadow: 2px 2px 3px #000000;
						text-decoration: none;
					}
				}

				&:hover {
					transform: scale(1.05);

					.shadow:hover {
						background-color: rgba(0, 0, 0, 0.8);
					}
				}
			}
			.grzegorz {
				background-image: url(../img/grzegorzv2.jpg);
			}
			.smart {
				background-image: url(../img/SMARTGYM.JPG);
			}
			.marie {
				background-image: url(../img/Marie.jpeg);
			}
			.gnt {
				background-image: url(../img/gotowi.jpg);
			}
			.candy {
				background-image: url(../img/cjakcandy.jpg);
			}
			.covin {
				background-image: url(../img/covivbig.jpg);
			}
		}
	}
}
.darker {
	background-color: $darker;
}

.portfolio {
	// height: 2200px;
	margin-top: -20px;
	padding-top: 70px;
	color: $dark;
	background-color: $main;

	h2 {
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		font-size: 36px;
	}

	.wrapper {
		margin: 50px auto;
		max-width: 1000px;

		.iframe-container {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			box-shadow: 8px 8px 24px 3px rgb(0, 0, 0);
			transition: 0.6s;
		}
		// .iframe-container:hover {
		// 	transform: scale(1.03);
		// 	box-shadow: 8px 8px 24px 14px rgb(0, 0, 0);
		// }
		.iframe-container iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.box {
		height: 2.5vh;
	}
}
.contact {
	display: grid;
	place-items: center;
	height: 500px;
	margin-top: -20px;
	padding-top: 70px;
	color: $white;
	background-color: $darker;

	h2 {
		padding: 0 20px;
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		color: $white;
		font-size: 36px;
	}
	.wrapper {
		.container {
			display: grid;
			place-content: center;
			grid-template-columns: 1fr;

			p {
				text-align: center;
				margin-top: 0;
				margin-bottom: 1rem;
				font-size: 2rem;

				span {
					padding: 0 20px;
				}
			}
		}
	}
}

footer {
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 1rem;
	background-color: $main;
	a {
		text-decoration: none;
		color: black;
	}
}

@media (min-width: 576px) {
	.about-us {
		.centered {
			.wrapper {
				grid-template-columns: 1fr;
				.card__container {
					h2 {
						font-size: 1.6rem;
					}

					p {
						font-size: 1.3rem;
					}
				}
			}
		}
	}
	main {
		section.banner {
			.container {
				h1 {
					font-size: 2.3rem;
				}
				h2 {
					font-size: 1.2rem;
				}
			}
		}
	}
}
@media (max-width: 576px) {
	main {
		section.banner {
			.container {
				h1 {
					font-size: 2.3rem;
				}
				h2 {
					font-size: 1.2rem;
				}
			}
		}
	}
	.about-us {
		.centered {
			.wrapper {
				grid-template-columns: 1fr;
				.card__container {
					h2 {
						font-size: 1.5rem;
					}

					p {
						font-size: 1.1rem;
					}
				}
			}
		}
	}
	.portfolio {
		// height: 1000px;
		.wrapper {
			max-width: 150px;
		}
	}
	.experience {
		height: 200vh;
		.wrapper {
			.container {
				grid-template-columns: 1fr;
			}
		}
	}
}

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
	main {
		section.banner {
			.container {
				h1 {
					font-size: 3rem;
				}
				h2 {
					font-size: 2.2rem;
				}
			}
		}
	}
	.about-us {
		.centered {
			.wrapper {
				grid-template-columns: 1fr;
				.card__container {
					h2 {
						font-size: 1.6rem;
					}

					p {
						font-size: 1.3rem;
					}
				}
			}
		}
	}
	.portfolio {
		// height: 1500px;
		.wrapper {
			max-width: 500px;
		}
	}
}

@media (max-width: 768px) {
	button {
		font-size: 18px;
	}

	header {
		.container {
			nav {
				display: none;
			}
		}
	}
	main {
		section.banner {
			.container {
				h1 {
					font-size: 3rem;
				}
				h2 {
					font-size: 2.2rem;
				}
			}
		}
	}
	.experience {
		height: 230vh;
		.wrapper {
			.container {
				grid-template-columns: 1fr;
			}
		}
	}
	.portfolio {
		// height: 1500px;
		.wrapper {
			max-width: 400px;
		}
	}
	.contact {
		.wrapper {
			.container {
				p {
					font-size: 1.3rem;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	main {
		section.banner {
			.container {
				h1 {
					font-size: 4.2rem;
				}
				h2 {
					font-size: 3rem;
				}
			}
		}
	}
	.about-us {
		.centered {
			.wrapper {
				grid-template-columns: 1fr;
				.card__container {
					h2 {
						font-size: 1.8rem;
					}

					p {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
	.portfolio {
		// height: 1700px;
		.wrapper {
			max-width: 700px;
		}
	}
}
@media (max-width: 992px) {
	.experience {
		height: 220vh;
		.wrapper {
			.container {
				grid-template-columns: 1fr;
			}
		}
	}
}

@media (max-width: 1200px) {
}
@media (min-width: 1200px) {
	main {
		section.banner {
			.container {
				h1 {
					font-size: 4.3rem;
				}
				h2 {
					font-size: 3rem;
				}
			}
		}
	}
	.about-us {
		.centered {
			.wrapper {
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				.card__container {
					h2 {
						font-size: 1.6rem;
					}

					p {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
	.experience {
		.wrapper {
			.container {
				max-width: none;
			}
		}
	}
}
