@import 'colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
}

.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 128px;
	padding-right: 128px;

	@media (max-width: 1024px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;

	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: $darker;
	padding-top: 120px;
	transition: 0.4s;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	// max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 46px;
	font-size: 30px;
	// background-color: $main;

	// border-radius: 30px;

	color: $white;
	text-align: left;
	text-decoration: none;
}

.mobile-nav a:hover {
	color: $main-light;
}

section {
	h2 {
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		color: #313131;
		font-size: 36px;
	}
}

.button {
	appearance: none;
	border: none;
	outline: none;
	background: none;

	display: inline-block;
	color: $dark;
	font-size: 20px;
	background-color: $main;
	padding: 12px 16px;
	border-radius: 8px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;

	transition: transform 0.4s;

	&:hover {
		transform: scale(1.1);
	}
}

img {
	max-width: 100%;
}

header {
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	// background-color: #12002F;

	.container {
		padding-top: 8px;
		padding-bottom: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			color: inherit;
			text-transform: uppercase;
			font-size: 32px;
			font-weight: 900;

			span {
				font-weight: 600;
			}
		}

		nav {
			display: grid;
			grid-gap: 16px;
			grid-template-columns: repeat(4, auto);

			a {
				color: inherit;
				font-size: 20px;
				text-decoration: none;

				transition: color 0.4s;
			}
			a:hover {
				color: $main-light;
			}
		}
	}

	&.scrolling {
		background-color: rgba(0, 0, 0, 0.8);
		transition: background-color 0.6s;
	}
}

main {
	section.banner {
		color: #fff;
		position: relative;
		min-height: 75vh;
		display: flex;
		align-items: center;

		background-position: top right;
		background-size: cover;

		.bg-video {
			position: fixed;
			right: 0;
			bottom: 0;
			min-width: 100%;
			min-height: 100%;
			z-index: -10;
		}
		

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			background-color: rgba(0, 0, 0, 0.8);
			// opacity: 0.8;
		}

		.container {
			position: relative;
			z-index: 1;

			h1 {
				font-size: 72px;
				margin-bottom: 32px;

				span {
					color: $main;
				}
			}

			h3 {
				font-size: 36px;
				font-weight: 400;
				margin-bottom: 32px;
			}

		}
	}
}
.wave-container {
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	overflow: hidden;

	svg {
		display: block;
	}
}
.inverted {
	background-color: $darker;

	transform: rotate(180deg);

	
}
.about-us {
	width: 100%;
	height: auto;
	color: $dark;
	background-color: $main;

	h3 {
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		font-size: 36px;
	}
	.centered {
		display: flex;
		justify-content: center;

		.wrapper {
			display: grid;
			padding: 0 20px;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
			align-items: stretch;
			max-width: 1400px;

			.card__container {
				max-width: 500px;
				padding: 3em 2em;
				margin: 1em;
				border-radius: 30px;
				background-color: #fff;

				transition: transform 0.4s;

				box-shadow: 10px 10px 41px -7px rgba(66, 68, 90, 1);

				z-index: 10;
				span {
					display: block;
					text-align: center;
					font-size: 5rem;
				}

				p {
					font-size: 20px;
					font-weight: 700;
				}

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}

.portfolio {
	height: 2000px;
	margin-top: -20px;
	padding-top: 70px;
	color: $white;
	background-color: $darker;

	h3 {
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		font-size: 36px;
	}

	.wrapper {
		margin: 50px auto;
		max-width: 1000px;

		.iframe-container {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			box-shadow: 8px 8px 24px 3px rgb(0, 0, 0);
			transition: box-shadow, transform 0.4s;
		}
		.iframe-container:hover {
			transform: scale(1.03);
			box-shadow: 8px 8px 24px 14px rgb(0, 0, 0);
		}
		.iframe-container iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

@media (min-width: 576px) {
	.about-us {
		.centered {
			.wrapper {
				grid-template-columns: 1fr;
				.card__container {
					h3 {
						font-size: 2.2rem;
					}

					p {
						font-size: 1.7rem;
					}
				}
			}
		}
	}
	main {
		section.banner {
			.container {
				h1 {
					font-size: 3rem;
				}
				h3 {
					font-size: 3rem;
				}
			}
		}
	}
}
@media (max-width: 576px) {
	main {
		section.banner {
			.container {
				h1 {
					font-size: 1.5rem;
				}
				h3 {
					font-size: 1.2rem;
				}
			}
		}
	}
	.about-us {
		.centered {
			.wrapper {
				grid-template-columns: 1fr;
				.card__container {
					h3 {
						font-size: 1.7rem;
					}

					p {
						font-size: 1.1rem;
					}
				}
			}
		}
	}
	.portfolio {
		height: 1000px;
		.wrapper {
			max-width: 300px;
		}
	}
}

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
	main {
		section.banner {
			.container {
				h1 {
					font-size: 4rem;
				}
				h3 {
					font-size: 3rem;
				}
			}
		}
	}
	.about-us {
		.centered {
			.wrapper {
				grid-template-columns: 1fr;
				.card__container {
					h3 {
						font-size: 20px;
					}

					p {
						font-size: 15px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	button {
		font-size: 18px;
	}

	header {
		.container {
			nav {
				display: none;
			}
		}
	}
	main {
		section.banner {
			.container {
				h1 {
					font-size: 3rem;
				}
				h3 {
					font-size: 1.8rem;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	main {
		section.banner {
			.container {
				h1 {
					font-size: 4.2rem;
				}
				h3 {
					font-size: 3rem;
				}
			}
		}
	}
	.about-us {
		.centered {
			.wrapper {
				grid-template-columns: 1fr;
				.card__container {
					h3 {
						font-size: 20px;
					}

					p {
						font-size: 15px;
					}
				}
			}
		}
	}
}
@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}
@media (min-width: 1200px) {
	main {
		section.banner {
			.container {
				h1 {
					font-size: 5rem;
				}
				h3 {
					font-size: 3rem;
				}
			}
		}
	}
	.about-us {
		.centered {
			.wrapper {
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				.card__container {
					h3 {
						font-size: 30px;
					}

					p {
						font-size: 20px;
					}
				}
			}
		}
	}
}
