@import 'colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
}

.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 128px;
	padding-right: 128px;

	@media (max-width: 1024px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;

	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: $darker;
	padding-top: 120px;
	transition: 0.4s;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background-color: $main;

	border-radius: 30px;

	color: $dark;
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: $main-light;
}

section {
	h2 {
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		color: #313131;
		font-size: 36px;
	}
}

.button {
	appearance: none;
	border: none;
	outline: none;
	background: none;

	display: inline-block;
	color: $dark;
	font-size: 20px;
	background-color: $main-light;
	padding: 12px 16px;
	border-radius: 8px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
}

img {
	max-width: 100%;
}

header {
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	// background-color: #12002F;

	.container {
		padding-top: 32px;
		padding-bottom: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			color: inherit;
			text-transform: uppercase;
			font-size: 32px;
			font-weight: 900;

			span {
				font-weight: 600;
			}
		}

		nav {
			display: grid;
			grid-gap: 16px;
			grid-template-columns: repeat(4, auto);

			a {
				color: inherit;
				font-size: 20px;
				text-decoration: none;

				transition: color 0.4s;
			}
			a:hover {
				color: $main-light;
			}
		}
	}

	&.is-scrolling {
		background-color: #12002f;
		.container {
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
}

main {
	section.banner {
		color: #fff;
		position: relative;
		min-height: 100vh;
		display: flex;
		align-items: center;

		background-position: top right;
		background-size: cover;

		.bg-video {
			position: fixed;
			right: 0;
			bottom: 0;
			min-width: 100%;
			min-height: 100%;
			z-index: -10;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			background-color: rgba(0, 0, 0, 0.9);
			opacity: 0.8;
		}

		.container {
			position: relative;
			z-index: 1;

			h1 {
				font-size: 72px;
				margin-bottom: 32px;

				span {
					color: $main;
				}
			}

			h3 {
				font-size: 36px;
				font-weight: 400;
				margin-bottom: 32px;
			}
		}
	}
}

@media (max-width: 576px) {
}

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
	main {
		section.banner {
			.container {
				h1 {
					font-size: 3rem;
				}
				h3 {
					font-size: 2rem;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	button {
		font-size: 18px;
	}

	header {
		.container {
			nav {
				display: none;
			}
		}
	}
	main {
		section.banner {
			.container {
				h1 {
					font-size: 2.5rem;
				}
				h3 {
					font-size: 1.8rem;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	main {
		section.banner {
			.container {
				h1 {
					font-size: 3.2rem;
				}
				h3 {
					font-size: 2.2rem;
				}
			}
		}
	}
}
@media (max-width: 1200px) {
}
